* {
    margin: 0;

}

div {
    display: inline-flex;

}

nav ul {
    display: inline-table;
    
    margin: 25px 1.5rem;
    background-color: rgb(206, 247, 25);
    color: rgb(182, 28, 28);
    list-style: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

nav {
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  } */

  nav ul li {
    padding: 15px 0;
    cursor: pointer;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 0px;
    position: relative;

  }

  nav ul li.items {
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
  }

  nav ul li.items:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #8a8d8d;
    opacity: 0;
    transition: all 0.2s linear;
  }

  nav ul li.items:hover:after {
    opacity: 1;
    bottom: 8px;
  }

  nav ul li.logo {
    flex: 1;
    color: black;
    font-size: 32px;
    font-weight: 600;
    cursor: default;
    user-select: none;
  }

  nav ul li a {
    color: black;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    transition: .4s;
  }

  nav ul li:hover a {
    color: #8a8d8d;
  }