/************

PÃGINA DE CADASTRO

 *************/
 #cadastro{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/img/projeto10.jpg");
  background-size: cover;

}
.cadastroForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 70%;
  padding: 10px;
  box-shadow: 5px 5px 5px #1f1f241f;
  border-end-end-radius: 20px;
  border-start-start-radius: 20px;
  background-color: white;
}

#formCadastro {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 50%;
  
}

#formCadastro > div {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.inputForm {
  width: 60%;
  border: none;
  text-align: center;
}

.inputForm:focus {
  outline: none;
}

.enviar{
  width: 75px;
  height: 30px;
  margin-top: 25px;
  margin-right: 15%;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
  background-color: #1f1f24;
  color: white;
}

.enviar:hover{
  background-color: #d2c2b0;
  color: black;
  transition: 0.3s;
}

.enviar:active{
  background-color: white;
  border: 1px solid black;
  color: black;
}
