* {
  margin: 0;
  padding: 0;
}

.cabecalho {
  font-size: 22px;
  padding: 20px 40px;
  text-transform: uppercase;
}

.cabecalho, .rodape {
  height: auto;
  display: flex;    
  flex-wrap: wrap;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-color: #1F1F24;
  color: white;
}

.rodape {
  font-size: 16px;
  padding: 60px 55px;

}

.rodape .blocoRodape {
  width: 33.3333%;

}

.rodape .blocoRodape .tituloRodape {
  font-weight: bold;
}

.logo {
  width: 100px;
  height: auto;
}

.login {
  border: none;
  background-color: #1F1F24;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  padding: 7px 15px;
  border: 1px solid white;
  cursor: pointer;
}

.login:hover {
  color:#D2C2B0
}

.login:active {
  border-color: beige;
  background-color: bisque;
}

.cabecalho .menu {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-self: center;

}

.cabecalho .menu li {
  list-style-type: none;
}

.cabecalho .menu li a {
  color: white;
  text-decoration: none;
  padding: 5px 55px;
  border: 1px;  
  
}

.cabecalho .menu li a:hover {
  color: #D2C2B0 ;
  
}

.ficafixocaralho {
  width: 100%;
  height: 100%;
}

.section-img {
  width: 100%;
  height: 100%;
  filter: brightness(0.4);
  background:url(‘img/projeto9.jpg’);
}

.texto {
  position: absolute;
  color:#fff;
  text-align: center;
  top: 77px;
  width: 100%;
  line-height: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.caixaTexto {
  margin: 2px 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #D2C3B0;
  padding: 20px 60px;
  /* margin: 10px; */
  /* box-shadow: 5px 5px 20px darkgrey; */
  /* border-radius: 20px; */
  margin-bottom: 7px;
}

.item-texto {
  color:black;
  width: 100%;
  line-height: 30px;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.item-texto .caixa {
  width: 100%;
}

.imagemProjeto3 {
  width: 100%;
  height: 450px;
  filter: brightness(0.9);  
  margin-bottom: 5px;
}

h2 {
  font-weight: bold;
}

.section-img img{
  width: 100%;
  height: auto;
}

.redesSociais {
  height: 35px;
  width: auto;
  padding: 25px 10px;
}

.endereco {
  width: 100%;
  height: 35px;
}

.imgEnd {
  width: auto;
  height: 200px;
  padding: 20px 0px;
}

@media (max-width: 1024px) {
  .rodape, .cabecalho, .cabecalho .menu {
    flex-direction: column;
  }

  .login {
    width: 100%;
  }

  .cabecalho .menu li a{
    padding: 0px;
  }

  .texto {
    position: relative;
    color: black;
    top: 0px;
    background-color: burlywood;
    padding: 20px 0px;
  }
  
  .rodape .blocoRodape {
    width: 100%;
  }

  .imgEnd {
    width: 100%;
    height: auto;
  }
}
